[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/firerain-campus-network %u
Icon=flyos-campus-network
StartupNotify=true
Terminal=false
Categories=Utility;
MimeType=inode/directory;

Name=clipboard
Name[zh_CN]=校园网客户端